<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>821437633954-rifgbloqeoasrthg3tnkjcet7qj6hmm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821437633954-rifgbloqeoasrthg3tnkjcet7qj6hmm2</string>
	<key>API_KEY</key>
	<string>AIzaSyCoA4RBbU7ecFTxzdS5sAxFb1btNc5smOA</string>
	<key>GCM_SENDER_ID</key>
	<string>821437633954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sptorres.Dibit</string>
	<key>PROJECT_ID</key>
	<string>dibit-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>dibit-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:821437633954:ios:8bcd3a9c6ea77df9</string>
	<key>DATABASE_URL</key>
	<string>https://dibit-ios.firebaseio.com</string>
</dict>
</plist>